{
    "env": {
        "node"  : true,
        "mocha" : true,
        "es6"   : true
    },
    "ecmaFeatures": {
        "module": true
    },
    "rules": {
        "quotes"           : [1, "single", "avoid-escape"],
        "no-mixed-requires": 0,
        "no-multi-spaces"  : 0,
        "key-spacing"      : 0,
        "no-shadow"        : 0,
        "camelcase"        : 0
    }
}
